.slick-slide {
  padding: 24px;
  opacity: 0.5;

  transition: transform 300ms linear;
}

.slick-center {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  transform: scale(1.25);

  opacity: 1;
}

.slick-next::before {
  font-size: 32px;
}

.slick-prev::before {
  font-size: 32px;
}
