.container {
  width: calc(100vw - 300px);
  left: 300px;
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  padding: 78px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--navi-blue);

  box-shadow: 4px 0 8px 1px rgba(0, 0, 0, 0.2);
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.avatar {
  width: 148px;
  border-radius: 50%;
}

.infoWrapper {
  align-self: self-start;
  text-align: left;
}

.infoTitle {
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
}

.infoText {
  margin-top: 8px;
  font-weight: 300;
  font-size: 16px;
  color: var(--white);
}

.logoutBtn {
  width: 100%;
  padding: 12px 0px;
  border: 1px solid var(--white);
  border-radius: 24px;
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
  transition: background-color 300ms ease;
}

.logoutBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.mainWrarpper {
  overflow-y: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.title {
  font-weight: 400;
  font-size: 18px;
  color: var(--navi-blue);
  margin-bottom: 8px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-gray);
  text-align: left;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  gap: 24px;
}

.basicBtn {
  border-radius: 24px;
  padding: 8px 48px;
  background-color: var(--navi-blue);
  margin-right: auto;

  color: var(--white);
  font-weight: 400;
  font-size: 16px;

  transition: background-color 300ms ease;
}

.basicBtn:hover {
  background-color: var(--navi-blue-hover);
}

.divider {
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--gray);
}

.bookingWrapper {
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: end;

  border-radius: 12px;
  background-color: var(--gray);
}

.bookingBlock {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.bookingTitle {
  font-weight: 500;
  font-size: 16px;
}

.bookingCar {
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}

.bookingText {
  font-weight: 300;
  font-size: 16px;
}

.bookingBasicBtn {
  border-radius: 24px;
  padding: 8px 32px;
  background-color: var(--navi-blue);
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  transition: background-color 300ms ease;
}

.bookingBasicBtn:hover {
  background-color: var(--navi-blue-hover);
}

.transBtn {
  border: 1px solid var(--navi-blue);
  border-radius: 24px;
  padding: 8px 32px;
  font-weight: 400;
  font-size: 16px;
  color: var(--navi-blue);
  transition: background-color 300ms ease;
}

.transBtn:hover {
  background-color: rgba(36, 74, 91, 0.1);
}

.text {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .container {
    left: 220px;
    width: calc(100vw - 220px);
  }
  .sidebar {
    width: 220px;
  }

  .form {
    grid-template-columns: repeat(1, 100%);
  }

  .bookingWrapper {
    flex-wrap: wrap;
    gap: 24px;
  }

  .bookingBlock {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 575px) {
  .container {
    width: 100%;
    left: 0;
    position: unset;
  }

  .sidebar {
    width: 100%;
    position: unset;
    gap: 32px;
  }

  .userInfo {
    flex-direction: row;
  }

  .infoWrapper {
    flex-direction: column;
    align-items: center;
  }

  .logoutBtn {
    padding: 12px 32px;
    width: auto;
    margin-left: auto;
  }
}
