.navList {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.item {
  padding: 2px 8px;
  border-radius: 8px;
  transition: background-color 300ms linear;
}

.link {
  font-weight: 300;
  font-size: 20px;
  transition: color 300ms linear;
}

.linkBlack {
  color: var(--black);
}

.linkBlack:hover {
  color: var(--white);
}

.item:has(.linkBlack:hover) {
  background-color: var(--navi-blue);
}

.linkWhite {
  color: var(--white);
}

.linkWhite:hover {
  color: var(--navi-blue);
}

.item:has(.linkWhite:hover) {
  background-color: var(--white);
}

.activeBlue {
  color: var(--white);
}

.item:has(.activeBlue) {
  background-color: var(--navi-blue);
}

.activeWhite {
  color: var(--navi-blue);
}

.item:has(.activeWhite) {
  background-color: var(--white);
}
