.container {
  padding: 12px 32px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.loginMenu {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 20px;
  color: var(--navi-blue);
}
